@inherits LayoutComponentBase

<PageTitle>Kalender</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
            <a href="">Home</a>
            <a href="calendar">Calendar</a>
            <a href="PersonList">Person list</a>
            <a href="OpretPerson">Create Person</a>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .top-row[b-emrdq2p4t1] {

        justify-content: flex-start;
        
    }
</style>
