@page "/OpretPerson"

<input type="text" @bind="inputText" />

<p>You entered: @inputText</p>

@code {
    private string inputText = "";

    string _connectionString = "Data Source=192.168.23.123;Initial Catalog=PersonRegister;User ID=sa;Password=Ab1234";

    DateTime fødselsdato;
    string fornavn;
    string efternavn;

    private void InsertPersonIRegister(string fornavn, string efternavn, DateTime fødselsdato)
        {
            string insertQuery = "INSERT INTO Person (Fornavn, Efternavn, Fødselsdato) VALUES (@Fornavn, @Efternavn, @Fødselsdato)";

            using (SqlConnection conn = new SqlConnection(_connectionString))
            {
                using (SqlCommand sqlCommand = new SqlCommand(insertQuery, conn))
                {
                    sqlCommand.Parameters.AddWithValue("@Fornavn", fornavn);
                    sqlCommand.Parameters.AddWithValue("@Efternavn", efternavn);
                    sqlCommand.Parameters.AddWithValue("@Fødselsdato", fødselsdato);

                    conn.Open();

                    int rowsAffected = sqlCommand.ExecuteNonQuery();

                    if (rowsAffected > 0)
                    {
                        Console.WriteLine("Ny data er blevet gemt.");
                    }
                    else
                    {
                        Console.WriteLine("Det lykkedes ikke at gemme!");
                    }
                    conn.Close();
                }
            }
        }

}